<h1>Listing Books</h1>
 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @quote.each do |p| %>
      <tr>
        <td><%= p.NumFLoors %></td>
        <td><%= p.NumBasement %></td>
        <td><%= link_to "Destroy", p, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 