<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

	<!-- TOP NAV -->
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>

			<!-- Logo -->
			<a class="logo float-left scrollTo" href="#top">
				<%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo") %>
			</a>

			<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
				<nav class="nav-main">

					<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
						<li class="active"><!-- HOME -->
							<a href="#home">
								HOME
							</a>
						</li>
						<li><!-- SERVICES -->
							<a href="#services">
								SERVICES
							</a>
						</li>
						<li class="nav-item dropdown"><!-- PORTFOLIO -->
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								PORTFOLIO 
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item"><a href="#portfolio">Overview</a></li>
								<li class="dropdown-item divider"></li>
								<li class="dropdown-item"><a href="residential.html">Residential Projects</a></li>
								<li class="dropdown-item divider"></li>
								<li class="dropdown-item"><a href="corporate.html">Corporate Projects</a></li>
							</ul>
						</li>

						<li><!-- NEWS -->
							<a href="#news">
								NEWS
							</a>
						</li>
						<li><!-- CLIENTS -->
							<a href="#clients">
								CLIENTS
							</a>
						</li>
						<li><!-- SUBMISSION FORM -->
							<a href="submissionform.html">
								SUBMISSION
							</a>
						</li>
						<li><!-- CONTACT -->
							<a href="#contact">
								CONTACT
							</a>
						</li>
					</ul>

				</nav>
			</div>

		</div>
	</header>
	<!-- /Top Nav -->

</div>